// flowery COLOR PALETTE
$c-floweryMain: #0B2B33;
$c-flowerySecond: #D4BDB3;
$c-floweryThird: white;

$c-flowery1: #BCA0A1;
$c-flowery2: #9F8792;
$c-flowery3: #7C7083;
$c-flowery4: #555C70;
$c-flowery5: #2F4858;

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

$t-floweryMain: 'ABeeZee', sans-serif;

$ts-floweryXS: 12px;
$ts-floweryS: 14px;
$ts-floweryM: 16px;
$ts-floweryL: 20px;
$ts-floweryXL: 26px;
$ts-floweryXXL: 36px;
$ts-floweryHuge: 86px;
$ts-floweryHulk: 140px;